{
  "semi": true,
  "singleQuote": true, 
  "tabWidth": 2, 
  "useTabs": true, 
  "bracketSpacing": true,
  "arrowParens": "always", 
  "endOfLine": "auto",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "printWidth": 75
  }