html * {
  font-family: 'Roboto','DXIcons', bold !important;
}

body{
  overflow: hidden;
}
.chakra-button {
  border-radius: 0 ;
}

.menuItem a {
  font-size: 22px;
}
.dx-datagrid-content .dx-datagrid-table .dx-row > td{
  vertical-align: middle !important;
}