@font-face {  
  font-family: 'DXIcons';  
  src: url(fonts/dxicons.woff2) format('woff2'), url(fonts/dxicons.woff) format('woff'), url(fonts/dxicons.ttf) format('truetype');  
  font-weight: normal;  
  font-style: normal;  
  
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,'DXIcons';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}